@font-face {
  font-family: "Sukhumvit";
  src: url('/font/sukhumvitset.ttf') format("truetype");
}

.gray {
  color : #3d3d3d;
}

.white {
  color : #fffffe;
}

.yellow {
  color : #ffce00;
}

.orange {
  color : #ff9e00;
}

.black {
  color : #1c1c1c;
}