.prod {
  margin-top: 20px;
  margin-bottom: 20px;
}

.minibox {
  width: 60%;
  margin: auto;
  height: 100%;
}

.gray-bor {
  border: 1px solid #3d3d3d;
}


.name {
  font-size: 1.1em;
}

.price {
  color : #ff9e00;
  font-size: 1.2em;
}