.prod {
  margin-top: 20px;
  margin-bottom: 20px;
}

.minibox {
  width: 90%;
  margin: auto;
  height: 100%;
}

.price {
  color : #ff9e00;
  font-size: 1.2em;
}

.info {
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog {
  color: black;
}